<div class="animated fadeIn">
  <!--/.row-->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-align-justify"></i> Consultar donaciones
        </div>
        <div class="card-body">
          <h5>Filtros de búsqueda</h5>

          <form action="" method="post">
            <div class="row">
              <div class="col-md-12 offset-md-12">
                <div class="form-group">
                  <label for="nf-email">Campo de búsqueda</label>
                  <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-search"></i></span>
                    </div><input class="form-control ng-untouched ng-pristine ng-valid"
                      placeholder="Busqueda por nombre del donante" type="text">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="nf-email">Tipo</label>
                      <select id="select1" name="select1" class="form-control">
                        <option value="0">Seleccione un tipo</option>
                        <option value="1">Artículo</option>
                        <option value="2">Servicio</option>
                      </select>
                    </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="nf-email">Categoria</label>
                      <select id="select1" name="select1" class="form-control">
                        <option value="0">Seleccione una categoría</option>
                        <option value="1">Mobiliario</option>
                        <option value="2">Sistema de cómputo</option>
                        <option value="3">papelería</option>
                      </select>
                    </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                      <label for="nf-email">Tipo de donadores</label>
                      <select id="select1" name="select1" class="form-control">
                        <option value="0">Seleccione un tipo de donador</option>
                        <option value="1">Anónimos</option>
                        <option value="2">Personas o empresas</option>
                      </select>
                    </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label class="col-form-label" for="appendedInput">Fecha inicio</label>
                <div class="controls">
                  <div class="input-group">
                    <input type="text" placeholder="Seleccione una fecha inicio" class="form-control"
                      [minDate]="minDate" bsDatepicker>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <label class="col-form-label" for="appendedInput">Fecha Fin</label>
                <div class="controls">
                  <div class="input-group">
                    <input type="text" placeholder="Seleccione una fecha fin" class="form-control" [minDate]="minDate"
                      bsDatepicker>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-md-12">
                <button type="button" class="btn btn-info active float-right" aria-pressed="true"
                  style="margin-left: 9px;"><i class="fa fa-filter"></i>&nbsp;Limpiar</button>
                <button type="button" class="btn btn-info active float-right" aria-pressed="true"><i
                    class="fa fa-hand-o-right"></i>&nbsp;Filtrar</button>
              </div>
            </div>
            <br />
          </form>

          <table class="table table-responsive-sm table-hover table-outline mb-0">
            <thead class="thead-light">
              <tr>
                <th class="text-center"><i class="icon-people"></i></th>
                <th>Donante</th>
                <th class="text-center">Tipo donación</th>
                <th class="text-center">Cantidad total</th>
                <th class="text-center">Persona o empresa</th>
                <th class="text-center">Fecha de donación</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Jose Elías</div>
                  <div class="small text-muted">
                    <span>Gonzáles Acuña</span>
                  </div>
                </td>
                <td class="text-center">
                  Artículo
                </td>
                <td class="text-center">
                  <strong> $ 231.23</strong>
                </td>
                <td class="text-center">
                  <i class="fa fa-user" style="font-size:24px"></i>
                </td>
                <td class="text-center">
                  <strong>30 junio 2019</strong>
                </td>
                <td>
                  <button type="button" class="btn btn-info active" aria-pressed="true" (click)="detalleModal.show()"><i
                      class="fa fa-eye"></i></button>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>María</div>
                  <div class="small text-muted">
                    <span class="badge badge-info">Cajemense por el mundo</span>Gonzáles Gonzáles
                  </div>
                </td>
                <td class="text-center">Efectivo</td>
                <td class="text-center">
                  <strong> $ 231.23</strong>
                </td>
                <td class="text-center">
                  <i class="icon-globe progress-group-icon" style="font-size:24px"></i>
                </td>
                <td class="text-center">
                  <strong>23 marzo 2018</strong>
                </td>
                <td>

                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-warning"></span>
                  </div>
                </td>
                <td>
                  <div>Maráa</div>
                  <div class="small text-muted">
                    Gonzáles Gonzáles
                  </div>
                </td>
                <td class="text-center">Efectivo</td>
                <td class="text-center">
                  <strong> $ 231.23</strong>
                </td>
                <td class="text-center">
                  <i class="icon-globe progress-group-icon" style="font-size:24px"></i>
                </td>
                <td class="text-center">
                  <strong>23 marzo 2018</strong>
                </td>
                <td>

                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-secondary"></span>
                  </div>
                </td>
                <td>
                  <div>Jose Elías</div>
                  <div class="small text-muted">
                    <span class="badge badge-info">Cajemense por el mundo</span> | Gonzáles Acuña
                  </div>
                </td>
                <td class="text-center">
                  Servicio
                </td>
                <td class="text-center">
                  <strong> 120 hrs</strong>
                </td>
                <td class="text-center">
                  <i class="fa fa-user" style="font-size:24px"></i>
                </td>
                <td class="text-center">
                  <strong>30 junio 2019</strong>
                </td>
                <td>

                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Jose Elías</div>
                  <div class="small text-muted">
                    <span>Gonzáles Acuña</span>
                  </div>
                </td>
                <td class="text-center">
                  Servicio
                </td>
                <td class="text-center">
                  <strong>40 hrs</strong>
                </td>
                <td class="text-center">
                  <i class="fa fa-user" style="font-size:24px"></i>
                </td>
                <td class="text-center">
                  <strong>30 junio 2019</strong>
                </td>
                <td>

                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>Jose Elías</div>
                  <div class="small text-muted">
                    <span class="badge badge-info">Cajemense por el mundo</span> | Gonzáles Acuña
                  </div>
                </td>
                <td class="text-center">
                  Efectivo
                </td>
                <td class="text-center">
                  <strong> $ 231.23</strong>
                </td>
                <td class="text-center">
                  <i class="fa fa-user" style="font-size:24px"></i>
                </td>
                <td class="text-center">
                  <strong>30 junio 2019</strong>
                </td>
                <td>
                </td>
              </tr>
            </tbody>
          </table>
          <br />
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Prev</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #dangerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-danger" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Mensaje del sistema</h4>
        <button type="button" class="close" (click)="dangerModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Esta seguro que desea eliminar el artículo?</h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dangerModal.hide()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="onDelete();dangerModal.hide()">&nbsp;&nbsp;si
          &nbsp;&nbsp;</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div bsModal #detalleModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="dialog-sizes-name1" [config]="{backdrop: 'static'}">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Detalle de donación</h4>
        <button type="button" class="close pull-right" (click)="detalleModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" style="text-align: center">
            <h3>Maráa Concepción Gonzáles Acuña</h3>
          </div>
          <div style="width: 200px; display:block;
          margin:auto;">
            <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">

          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="nf-password">Tipo de donación</label>
              <input type="text" id="nf-password" name="nf-password" class="form-control" value="Artículo" disabled>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="nf-password">Empresa o persona</label>
              <input type="text" id="nf-password" name="nf-password" class="form-control" value="Persona" disabled>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="nf-password">Fecha de la donación</label>
              <input type="text" id="nf-password" name="nf-password" class="form-control" value="30 de junio 2019"
                disabled>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <i class="fa fa-align-justify"></i> Donaciones
              </div>
              <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Artículo</th>
                      <th>Ubicación</th>
                      <th>Donación</th>
                      <th>Cantidad</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Cesto de basura</td>
                      <td>Laguna del Náinari</td>
                      <td>
                        <span class="badge badge-warning">Parcial</span>
                        <!-- <span class="badge badge-success">Active</span> -->
                      </td>
                      <td>$ 12.12</td>
                    </tr>
                    <tr>
                      <td>Mesabanco</td>
                      <td>Escuela Primaria 23 de Octubre</td>
                      <td>
                        <span class="badge badge-success">Completo</span>
                      </td>
                      <td>$ 100.12</td>
                    </tr>
                    <tr>
                      <td>Muro de seguridad</td>
                      <td>Colonia Villas del Rey</td>
                      <td>
                        <span class="badge badge-warning">Parcial</span>
                        <!-- <span class="badge badge-success">Active</span> -->
                      </td>
                      <td>$ 200.99</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <td>>
                      </td>
                      <td><strong>Total:</strong>$ 313.23</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="detalleModal.hide();">Salir</button>
      </div>
    </div>
  </div>
</div>